<!-- Web.Config Configuration File -->
<configuration>
    <system.web>
        <customErrors mode="Off" />
    </system.web>
    <system.webServer>
		<rewrite>
            <rules>
                <rule name="Admin İcin Route"
                  stopProcessing="true">
                    <match url="admin/(img|css|files|js|pdf|favicon.ico)(.*)$" />
                    <action type="Rewrite" url="admin/{R:1}{R:2}"
                      appendQueryString="false" />
                </rule>
				<rule name="Normal Route"
                  stopProcessing="true">
                    <match url="(img|css|files|js|pdf|favicon.ico)(.*)$" />
                    <action type="Rewrite" url="{R:1}{R:2}"
                      appendQueryString="false" />
                </rule>
                <rule name="Rewrite requested file/folder to index.php"
                  stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php"
                      appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>